.clock {
  /* position: relative; */
  margin-top: 130px;
  position: absolute;
  left: 24px;
}

.ampm {
  font-size: 15px;
}

.time {
  font-size: 30px;
}

.greeting_form,
.greetings,
.weather {
  position: relative;
}

.greeting_form,
.greetings {
  top: 170px;
}

.weather {
  top: 200px;
}
