.form,
.greeting_form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.greeting_form input,
.greeting_form input::placeholder {
  text-align: center;
}

.greetings {
  font-size: 40px;
}

.clock {
  margin-top: 220px;
  position: absolute;
  left: 18px;
}

.ampm {
  font-size: 30px;
  margin-right: 10px;
}

.time {
  font-size: 80px;
  word-spacing: -8px;
  letter-spacing: -2px;
}

.greeting_form,
.greetings,
.weather {
  position: relative;
}

.greeting_form,
.greetings {
  top: 340px;
}

.weather {
  top: 360px;
  display: flex;
  align-items: center;
}

.weather_icon {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wi {
  font-size: 60px;
}

.weather_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 13px;
}

.temp {
  font-size: 34px;
  margin-bottom: 6px;
}

.place {
  font-size: 20px;
}
