@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

@import "clock.css";
@import "todo.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 100%;
}

@media screen and (min-width: 555px) {
  img {
    width: 100%;
  }
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

input {
  margin: 10px 0px;
}
