.toDoForm input,
li {
  width: 180px;
}

.toDoForm {
  margin-top: 10px;
}

.toDoForm input::placeholder {
  font-size: 10px;
}

.todo_column {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
}

ul {
  margin: 10px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 8px;
  border-radius: 3px;
  margin-bottom: 2px;
  color: black;
  font-size: 9px;
}

li span {
  margin-left: 5px;
  font-size: 10px;
}

.checked li {
  opacity: 0.7;
}

.checked .fa-check-square {
  color: tomato;
}

#delBtn {
  border: none;
  position: absolute;
  text-decoration: none;
  right: 10px;
}

#strikeout {
  height: 1px;
  width: 79%;
  background-color: tomato;
  position: absolute;
  left: 19px;
}
