.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
}

span {
  margin-left: 5px;
}

#delBtn {
  border: none;
  position: absolute;
  text-decoration: none;
  right: 10px;
}

.checked .fa-check-square {
  color: tomato;
}

#strikeout {
  height: 1px;
  width: 78%;
  background-color: tomato;
  position: absolute;
  left: 17px;
}
